.tableContainer {
  margin-top: 48px;
  overflow-x: auto;
  max-width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  padding: 8px;
  text-align: left;
}

thead {
  background-color: var(--cardBackground);
}

tr:nth-child(4n+3),
tr:nth-child(4n+4) {
  background-color: var(--hoverBackground);
}

.feedImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.card {
  border: 1px solid var(--paginationButtonHover);
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
}

.card-header {
  background-color: #f2f2f2;
  padding: 8px;
  font-weight: bold;
}

.card-content {
  padding: 8px;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .table-container {
    overflow-x: auto;
  }

  .table {
    display: none;
  }

  .card {
    display: block;
  }

  .card-content {
    display: flex;
    flex-wrap: wrap;
  }

  .card-content > * {
    width: 50%;
  }
}