<div *ngIf="showData" class="tableContainer">
  <table>
    <thead>
      <tr>
        <th class="imageCol">Image</th>
        <th class="nameCol">Name</th>
        <th class="descCol">Description</th>
        <th class="dateCol">Last Edited</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td><img [src]="item.image" class="feedImage" /></td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ formatDateLastEdited(item.dateLastEdited) }}</td>
      </tr>
    </tbody>
  </table>
</div>
