.pagination {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.pagination button {
  padding: 8px 12px;
  margin-right: 8px;
  border: none;
  background-color: var(--paginationBg);
  color: var(--paginationActiveBg);
  cursor: pointer;
  font-size: 14px;
}

.pagination button.active {
  background-color: var(--paginationActiveBg);
  color: var(--constantWhite);
}

.pagination button:hover {
  background-color: var(--paginationButtonHover);
}
